/*
// COLORS
Main color - Mine Shaft (approx.) #202020
// FONTS
Rampart One, Kalam, Roboto
*/

/* GENERAL */
/********************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Rampart+One&family=Roboto&family=Satisfy&display=swap');

:root {
  --black: #202020;
  --light-grey: #cecece;
  --dark-grey: #bababa;
  --transision-time-out: 1.5s;
  --transision-time-in: 0.5s;
  --nav-links-gap: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-family: 'Kalam', 'Roboto', sans-serif;
  box-sizing: border-box;
  background: var(--black);
  /* background: white */
  color: var(--light-grey);
}

.root {
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

/* HEADER */
/********************************************************************************/

.nav-links {
  position: fixed;
  top: 0;
  right: -100%;
  background: rgba(206, 206, 206, 0.507);
  transition: var(--transision-time-in) ease-out;
  width: 100%;
  height: 100%;
  padding: 8rem 0 0 0;
  backdrop-filter: blur(2px);
  z-index: 200;
  display: grid;
  gap: var(--nav-links-gap);
  place-items: center center;
  place-content: start stretch;
  overflow-y: scroll;
}

.show-nav-links {
  right: 0;
  transition: calc(var(--transision-time-out) / 1.5) ease;
}

.nav-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: grid;
  align-content: space-evenly;
  gap: 0.5rem;
  width: 4rem;
  height: 4.1rem;
  background: rgba(186, 186, 186, 0.377);
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 25%;
  animation: menu-spin-back var(--transision-time-in) ease-in-out;
  animation-fill-mode: forwards;
  backdrop-filter: blur(2px);
  border: none;
  z-index: 300;
  box-shadow: 0 0 28px rgba(255, 255, 255, 0.25), 0 0 10px rgba(255, 255, 255, 0.22);
  transition: 0.5s ease; /* box shadow animation on hover*/
  cursor: pointer;
}
.menu:hover {
  /* transform: scale(1.5); */
  transition: 0.5s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.19), 0 0 50px rgba(255, 255, 255, 0.23);
}

.menu-line {
  width: 100%;
  height: 0.5rem;
  /* background: var(--black); */
  background: #000;
  border-radius: 8px;
}
.menu-line:nth-child(1) {
  transition: var(--transision-time-in);
  transform: rotate(0) translate(0);
}
.menu-line:nth-child(2) {
  opacity: 1;
  transition: var(--transision-time-in);
  transform: rotate(0);
}
.menu-line:nth-child(3) {
  transition: var(--transision-time-in);
  transform: rotate(0) translate(0);
}

.show-menu .menu-line:nth-child(1) {
  transition: var(--transision-time-out);
  transform: rotate(45deg) translate(0.8rem, 0.8rem);
}
.show-menu .menu-line:nth-child(2) {
  opacity: 0;
  transition: var(--transision-time-out);
  transform: rotate(360deg);
}
.show-menu .menu-line:nth-child(3) {
  transition: var(--transision-time-out);
  transform: rotate(-45deg) translate(0.8rem, -0.9rem);
}
.show-menu {
  animation: menu-spin var(--transision-time-out) cubic-bezier(0.8, -0.07, 0.05, 1.8);
  animation-fill-mode: forwards;
}

@keyframes menu-spin {
  0% {
    border-radius: 25%;
  }
  50% {
    border-radius: 100%;
  }
  100% {
    border-radius: 100%;
    transform: rotate(360deg);
  }
}
@keyframes menu-spin-back {
  0% {
    border-radius: 100%;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    border-radius: 25%;
    transform: rotate(-180deg);
  }
}

.svg {
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  transition: 1s ease;
  box-shadow: 0 0 28px rgba(255, 255, 255, 0.25), 0 0 10px rgba(255, 255, 255, 0.22);
}
.svg:hover {
  transition: 1s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.19), 0 0 50px rgba(255, 255, 255, 0.23);
}
.question-svg {
  margin: 0 0 3rem 0;
}
.language-svg {
  place-self: start;
  transform: translateY(calc(100% + var(--nav-links-gap) + 2rem)); /*move down: own size + size of nav-links gap + svg margin */
}
.sun-svg {
  place-self: end;
}
.moon-svg {
  place-self: end;
}

/* MAIN */
/********************************************************************************/

.main {
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

/* .section {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100%;
  margin: 0.1rem;
  background: var(--grey-primary);
  padding: 0.5rem;
} */

.container {
  display: grid;
  place-items: center;
  position: relative;
  padding: 0.5rem;
}

.typewriter-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 4rem;
  margin: 30vh 0;
}

.hr {
  margin: 10rem 0;
  width: 80%;
  background: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  opacity: 0.5;
  z-index: 300;
}

.p {
  margin: 5rem 2rem;
}
.p-center {
  text-align: center;
}
/* .text-intro {
  transition: 3s ease;
  opacity: 0;
} */
/* .text-intro:hover {
  transition: 3s ease;
} */

.works-container {
  width: 100%;
  max-width: 50rem;
  /* height: 20rem; */
  margin: 8rem 2rem;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  /* background: grey; */
}
.work {
  width: 100%;
  height: 10rem;
  padding: 2rem;
  background: var(--light-grey);
  color: var(--black);
  border-radius: 20px;
}

/* FOOTER */
/********************************************************************************/
.footer {
  margin: 10rem 0 1rem 0;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 2rem;
}
.footer .p {
  margin: 8rem 0 2rem 0;
}

/* Animation */
/********************************************************************************/
/* Animate items on scroll */
.js-scroll {
  opacity: 0;
  transition: 1s;
}

.js-scroll.scrolled {
  opacity: 1;
}

/* Different scroll animation */
.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
