/*
// COLORS
Main color - Mine Shaft (approx.) #202020
// FONTS
Rampart One, Kalam, Roboto
*/

/****************************** GENERAL ******************************/
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Rampart+One&family=Roboto&family=Satisfy&display=swap');

:root {
  --black: #202020;
  --light-grey: #cecece;
  --dark-grey: #bababa;
  --transision-time-out: 1.5s;
  --transision-time-in: 0.5s;
  --nav-links-gap: 1rem;
}
*,
*::before,
*::after {
  width: 100%;
  height: auto;
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: inherit;
  /* overflow-x: hidden; */
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  box-sizing: border-box;
  font-family: 'Kalam', 'Roboto', sans-serif;
  background: var(--black);
  color: var(--light-grey);
  width: 100%;
  /* height: 100%; DON NOT CHANGE MAX-HEIGHT! IT BRAKES SCROLL ANIMATION!*/
  max-height: 100%;
  overflow-x: hidden;
  display: grid;
  place-items: center;
  scroll-behavior: smooth;
}
.root {
  max-width: 768px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: grid;
  place-items: center;
  padding: 0 2rem;
}
.lock-scroll {
  overflow: hidden;
}


/****************************** MAIN ******************************/
.main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}
.section {
  width: 100%;
  height: 100%;
  padding: 0 0 8rem 0;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}
/* .container {
  display: grid;
  place-items: center;
} */
.hr {
  margin: 10rem 0;
  width: 80%;
  background: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  opacity: 0.5;
  z-index: 300;
}
.h1 {
  text-align: center;
  margin: 2rem 0;
}
.p {
  margin: 2rem 0;
}
.p-center {
  text-align: center;
}

.img {
  margin: 0;
  padding: 0;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.svg {
  cursor: pointer;
  transition: 0.5s ease;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));
}
.svg:hover {
  transition: 0.25s ease;
  filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 1));
}

/****************************** SECTIONS ******************************/
/* SECTION-HOME */
.section-home {
  /* display: none; */
  padding-bottom: 20rem;
}
.typewriter-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 4rem;
  margin: 30vh 0;
}
.quote-intro {
  margin: 25% 0 0 0;
}

/* SECTION-WORKS */
.section-works {
  display: grid;
  /* display: none; */
}
.works-container {
  width: 100%;
  max-width: 30rem;
  height: auto;
  margin: 2rem 2rem;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  overflow: hidden;
}
.work-item {
  width: 100%;
  height: 12rem;
  margin: 4rem 0 0 0;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(0 0 1rem rgba(100, 100, 100, 0.25));
  /* filter: grayscale(1); */
}
.work-item__x-drive {
  margin-top: 2rem;
}

/* SECTION-ABOUT */
.section-about {
  display: none;
  display: grid;
}
.about-text {
  margin-bottom: 4rem;
}
.web-core {
  width: 100%;
  height: 100%;
  margin: 4rem;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  place-content: space-evenly;
  /* gap: 3rem; */
}
l.web-core__svg {
  width: 4rem;
  /* padding: 1rem; */
  /* margin: 0 1rem; */
}
.jamstack-logo {
  width: 100%;
  height: auto;
  margin: 4rem 0;
  border-radius: 8px;
}


/****************************** Animation ******************************/
/* Animate items on scroll */
.js-scroll {
  opacity: 0;
  transition: 1s;
}
.js-scroll.scrolled {
  opacity: 1;
}
/* Different scroll animation */
.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}
.scrolled.fade-in-delay-2 {
  animation: fade-in 2s ease-in-out both;
}
.scrolled.fade-in-delay-3 {
  animation: fade-in 3s ease-in-out both;
}
.scrolled.fade-in-delay-4 {
  animation: fade-in 4s ease-in-out both;
}
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}
.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}
.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scrollbar Styling */
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #303030;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
  }
}
