/*
// COLORS
Main color - Mine Shaft (approx.) #202020
// FONTS
Rampart One, Kalam, Roboto
*/

/****************************** GENERAL ******************************/
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Rampart+One&family=Roboto&family=Satisfy&display=swap');

:root {
  --black: #202020;
  --light-grey: #cecece;
  --dark-grey: #bababa;
  --transision-time-out: 1.5s;
  --transision-time-in: 0.5s;
  --nav-links-gap: 1rem;
}
*,
*::before,
*::after {
  width: 100%;
  height: auto;
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: inherit;
  /* overflow-x: hidden; */
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  box-sizing: border-box;
  font-family: 'Kalam', 'Roboto', sans-serif;
  background: var(--black);
  color: var(--light-grey);
  width: 100%;
  /* height: 100%; DON NOT CHANGE MAX-HEIGHT! IT BRAKES SCROLL ANIMATION!*/
  max-height: 100%;
  overflow-x: hidden;
  display: grid;
  place-items: center;
  scroll-behavior: smooth;
}
.root {
  max-width: 768px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: grid;
  place-items: center;
  padding: 0 2rem;
}
.lock-scroll {
  overflow: hidden;
}

/****************************** HEADER ******************************/
.header {
  overflow-x: hidden;
}
.nav {
  overflow-x: hidden;
}
.nav__panel {
  position: fixed;
  top: 0;
  right: -100%;
  background: rgba(206, 206, 206, 0.507);
  transition: var(--transision-time-in) ease-out;
  width: 100%;
  height: 100%;
  padding: 8rem 0 0 0;
  z-index: 200;
  backdrop-filter: blur(2px);
  display: grid;
  grid-template: 1fr 5rem / 1fr;
  gap: var(--nav-links-gap);
  place-items: start center;
  overflow-y: auto;
}
.show-nav__panel {
  right: 0;
  transition: calc(var(--transision-time-out) / 1.5) ease;
}
.nav__panel__top {
  width: 100%;
  display: grid;
  place-items: center;
  place-content: center;
}
.nav__panel__bottom {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.nav__link {
  text-decoration: none;
}
.nav__svg {
  margin: 1rem;
  width: 3rem;
  height: 3rem;
}
/* .sun-svg { */
/* display: none; */
/* } */
.moon-svg {
  display: none;
}

/* Navigation menu button animation */
.nav__menu {
  position: fixed;
  top: 0;
  right: 0;
  display: grid;
  align-content: space-evenly;
  gap: 0.5rem;
  width: 4rem;
  height: 4.1rem;
  background: rgba(186, 186, 186, 0.377);
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 25%;
  animation: menu-spin-back var(--transision-time-in) ease-in-out;
  animation-fill-mode: forwards;
  backdrop-filter: blur(2px);
  border: none;
  z-index: 300;
  cursor: pointer;
  transition: 0.5s ease; /* box shadow animation on hover*/
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.5));
}
.nav__menu:hover {
  transition: 0.5s ease;
  filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 1));
}
@media (min-width: 768px) {
  .nav__panel {
    width: 25vw;
    border-radius: 20px 0 0 20px;
  }
}
.nav__menu__line {
  width: 100%;
  height: 0.5rem;
  /* background: var(--black); */
  background: #000;
  border-radius: 8px;
}
.nav__menu__line:nth-child(1) {
  transition: var(--transision-time-in);
  transform: rotate(0) translate(0);
}
.nav__menu__line:nth-child(2) {
  opacity: 1;
  transition: var(--transision-time-in);
  transform: rotate(0);
}
.nav__menu__line:nth-child(3) {
  transition: var(--transision-time-in);
  transform: rotate(0) translate(0);
}
.show-nav__menu .nav__menu__line:nth-child(1) {
  transition: var(--transision-time-out);
  transform: rotate(45deg) translate(0.8rem, 0.8rem);
}
.show-nav__menu .nav__menu__line:nth-child(2) {
  opacity: 0;
  transition: var(--transision-time-out);
  transform: rotate(360deg);
}
.show-nav__menu .nav__menu__line:nth-child(3) {
  transition: var(--transision-time-out);
  transform: rotate(-45deg) translate(0.8rem, -0.9rem);
}
.show-nav__menu {
  animation: menu-spin var(--transision-time-out) cubic-bezier(0.8, -0.07, 0.05, 1.8);
  animation-fill-mode: forwards;
}
@keyframes menu-spin {
  0% {
    border-radius: 25%;
  }
  50% {
    border-radius: 100%;
  }
  100% {
    border-radius: 100%;
    transform: rotate(360deg);
  }
}
@keyframes menu-spin-back {
  0% {
    border-radius: 100%;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    border-radius: 25%;
    transform: rotate(-180deg);
  }
}

/****************************** MAIN ******************************/
.main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}
.section {
  width: 100%;
  height: 100%;
  padding: 0 0 8rem 0;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}
/* .container {
  display: grid;
  place-items: center;
} */
.hr {
  margin: 10rem 0;
  width: 80%;
  background: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  opacity: 0.5;
  z-index: 300;
}
.h1 {
  text-align: center;
  margin: 2rem 0;
}
.p {
  margin: 2rem 0;
}
.p-center {
  text-align: center;
}

.img {
  margin: 0;
  padding: 0;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.svg {
  cursor: pointer;
  transition: 0.5s ease;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));
}
.svg:hover {
  transition: 0.25s ease;
  filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 1));
}

/****************************** SECTIONS ******************************/
/* SECTION-HOME */
.section-home {
  /* display: none; */
  padding-bottom: 20rem;
}
.typewriter-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 4rem;
  margin: 30vh 0;
}
.quote-intro {
  margin: 25% 0 0 0;
}

/* SECTION-WORKS */
.section-works {
  display: grid;
  /* display: none; */
}
.works-container {
  width: 100%;
  max-width: 30rem;
  height: auto;
  margin: 2rem 2rem;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  overflow: hidden;
}
.work-item {
  width: 100%;
  height: 12rem;
  margin: 4rem 0 0 0;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(0 0 1rem rgba(100, 100, 100, 0.25));
  /* filter: grayscale(1); */
}
.work-item__x-drive {
  margin-top: 2rem;
}

/* SECTION-ABOUT */
.section-about {
  display: none;
  display: grid;
}
.about-text {
  margin-bottom: 4rem;
}
.web-core {
  width: 100%;
  height: 100%;
  margin: 4rem;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  place-content: space-evenly;
  /* gap: 3rem; */
}
l.web-core__svg {
  width: 4rem;
  /* padding: 1rem; */
  /* margin: 0 1rem; */
}
.jamstack-logo {
  width: 100%;
  height: auto;
  margin: 4rem 0;
  border-radius: 8px;
}

/****************************** FOOTER ******************************/
.footer {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;
}
.footer .p {
  margin: 8rem 0 2rem 0;
}
.svg-footer {
  margin: 1rem;
  transition: 0.5s ease;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.25));
}

/****************************** Animation ******************************/
/* Animate items on scroll */
.js-scroll {
  opacity: 0;
  transition: 1s;
}
.js-scroll.scrolled {
  opacity: 1;
}
/* Different scroll animation */
.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}
.scrolled.fade-in-delay-2 {
  animation: fade-in 2s ease-in-out both;
}
.scrolled.fade-in-delay-3 {
  animation: fade-in 3s ease-in-out both;
}
.scrolled.fade-in-delay-4 {
  animation: fade-in 4s ease-in-out both;
}
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}
.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}
.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scrollbar Styling */
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #303030;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
  }
}
